@font-face {
    font-family: "TitleFont";
    src: url(./biaoti.ttf);
}

/** 整体框架 */
.bigscreen-main-wrapper {
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
    .header-main-wrapper, .content-main-wrapper, .footer-main-wrapper {
        width: 100%;
        background-size: 100% 100%;
    }
    .header-main-wrapper {
        height: 7%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-left-part-wrapper {
            width: 17%;
        }
        .header-title-wrapper {
            width: 46%;
            font-family: "TitleFont";
            font-size: 2rem;
            text-align: center;
            background-image: linear-gradient(to top, #a5dfff, white);
            -webkit-background-clip: text;
            color: transparent;
        }
        .header-right-part-wrapper {
            width: 17%;
        }
    }
    .content-main-wrapper {
        height: 91%;
        padding: 4px;
        display: grid;
        .content-main-item {
            color: aliceblue;
            padding: 10px;
        }
    }
    .footer-main-wrapper {
        height: 2%;
    }
}

/**渐变字体 最好用span包裹*/
.linear-font-type {
    background-image: linear-gradient(to top, #a5dfff, white);
    -webkit-background-clip: text;
    color: transparent;
}

/** 每个item的class */
.bigscreen-item-wrapper {
    width: 100%;
    height: 100%;
    .bigscreen-item-title {
        height: 2.2rem;
        line-height: 2.2rem;
        padding-left: 6%;
        font-family: "TitleFont";
        background-size: 100% 100%;
    }
    .bigscreen-item-content {
        height: calc(100% - 2.2rem);
        background-color: #061c2f7d;
    }
}

/** 监控卡片那种，上面一个图片或者视频 下面是列表 */
.monitor-card-wrapper {
    display: grid;
    .monitor-card-item {
        padding: 16px;
        height: calc(100% - 32px);
        background-size: 100% 100%;
        img {
            width: 100%;
        }
        
    }
}
.monitor-card-info-wrapper {
    .monitor-card-info-item {
        padding-left: 20px !important;
        font-size: .8rem;
        padding: 2px 0;
        position: relative;
    }
    .monitor-card-info-item::after {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background: linear-gradient(to top, #06c1f8, #2281e4);
        position: absolute;
        top: 6px;
        left: 4px;
    }
}